/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e5f3fb;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ddcc7;
    color: rgb(255, 255, 255);
    height: 15vh;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.header h1{
    box-shadow: inset 3px #c2c2c2;
}

.header-content img{
    height: 120px;
    padding: 30px;;
}

/* Main */
main {
    flex: 1;
    background-color: #ebffd8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: none;
    width: 90%;
    height: 70vh;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Footer */
footer {
    background-color: #8ddcc7;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    gap: 10px;
    height: ;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer li {
    margin: 4px 0;
}

footer h3 {
    font-weight: normal;
}

